// Button Module

@import "box";
@import "border";
@import "gradient";

.button(@color: #f5f5f5, @text-color: #fff, @text-shadow: 0 1px 1px rgba(0,0,0,.75), @font-size: 13px, @padding: 9px 15px 10px, @border-radius: 6px) {
  cursor     : pointer;
  display    : inline-block;
  .gradient-vertical(lighten(@color,15%), darken(@color,15%));
  padding    : @padding;
  text-shadow: @text-shadow;
  color      : @text-color;
  font-size  : @font-size;
  line-height: 20px;
  .border-radius(@border-radius);
  .box-shadow(0 1px 2px rgba(0,0,0,.25));
  
  &:hover {
    background-position: 0 -15px;
    text-decoration: none;
  }
}
