// Color Module

// 17 standard color names
@aqua: #00FFFF;
@black: #000000;
@blue: #0000FF;
@fuchsia: #FF00FF;
@gray: #808080;
// ie6 do not support the 'grey' color name, use 'gray' instead
@grey: @gray;
@green: #008000;
@lime: #00FF00;
@maroon: #800000;
@navy: #000080;
@olive: #808000;
@purple: #800080;
@red: #FF0000;
@silver: #C0C0C0;
@teal: #008080;
@white: #FFFFFF;
@yellow: #FFFF00;
//other color names
@orange: #FFA500;
@pink: #FFC0CB;
@gold: #FFD700;