// CSS3 FlexBox Module

//.display-box; must be used along with other flexbox mixins
.display-box() { 
	display: -moz-box;
	display: -webkit-box;
	display: box;
}

// Box align [ start | end | center | baseline | stretch ]
.box-align(@alignment: stretch) {
	-moz-box-align   : @alignment;
	-webkit-box-align: @alignment;
	box-align        : @alignment;
}

// Box direction [ normal | reverse | inherit ]
.box-direction(@direction: normal) {
	-moz-box-direction   : @direction;
	-webkit-box-direction: @direction;
	box-direction        : @direction;
}

// Box flex [ integer ]
.box-flex(@flex: 0) {
	-moz-box-flex   : @flex;
	-webkit-box-flex: @flex;
	box-flex        : @flex;
}

// Box flex group [ integer ]
.box-flex-group(@group: 1) {
	-moz-box-flex-group   : @group;
	-webkit-box-flex-group: @group;
	box-flex-group        : @group;
}

// Box orientation [ horizontal | vertical | inline-axis | block-axis | inherit ]
.box-orient(@orientation: horizontal) {
	-moz-box-orient   : @orientation;
	-webkit-box-orient: @orientation;
	box-orient        : @orientation;
}

// Box ordinal group [ integer ]
.box-ordinal-group(@group: 1) {
	-moz-box-ordinal-group   : @group;
	-webkit-box-ordinal-group: @group;
	box-flex-ordinal-group   : @group;
}

// Box pack  [ start | end | center | justify ]
.box-pack(@pack: start) {
	-moz-box-pack   : @pack;
	-webkit-box-pack: @pack;
	box-pack        : @pack;
}
