// List Module

@import "display";
@import "reset";
@import "float";

// makes a list inline.
.list-inline() {
  list-style-type: none;
  &, & li {
    margin : 0px;
    padding: 0px;
    display: inline;
  }
}

// makes an inline list delimited with the passed string.
// Defaults to making a comma-separated list.
//
// Please make note of the browser support issues before using this mixin:
//
// use of `content` and `:after` is not fully supported in all browsers.
// See quirksmode for the [support matrix](http://www.quirksmode.org/css/contents.html#t15)
//
// `:last-child` is not fully supported.
// see quirksmode for the [support matrix](http://www.quirksmode.org/css/contents.html#t29).
//
// IE8 ignores rules that are included on the same line as :last-child
// see http://www.richardscarrott.co.uk/posts/view/ie8-last-child-bug for details

.list-delimited(@separator: ", ") {
	.list-inline();
	li {
		&:after { 
			content: @separator; 
		}
		&:last-child {
			&:after { content: ""; }
		}
		&.last {
			&:after { content: ""; }
		}
	}
}


// Turn off the bullet for an element of a list
.list-item-no-bullet() {
	list-style-image : none;
	list-style-type  : none;
	margin-left      : 0px;
}

// turns off the bullets for an entire list
.list-no-bullets() {
  list-style: none;
  li { 
	.list-item-no-bullet(); 
  }
}


.list-pretty-bullets(@bullet-icon, @width, @height, @line-height: 18px, @padding: 14px) {
  margin-left: 0;
  li {
    padding-left   : @padding;
    background     : image-url(@bullet-icon) no-repeat (@padding - @width) / 2 (@line-height - @height) / 2;
    list-style-type: none;
  }
}



// Can be mixed into any selector that target a ul or ol that is meant to have a horizontal layout.

.list-container-horizontal(){
	.reset-box-model();
	.clearfix();
}

// Can be mixed into any li selector that is meant to participate in a horizontal layout.
//
// :last-child is not fully supported
// see http://www.quirksmode.org/css/contents.html#t29 for the support matrix
// 
// IE8 ignores rules that are included on the same line as :last-child
// see http://www.richardscarrott.co.uk/posts/view/ie8-last-child-bug for details
//
// Setting `@padding` to `false` disables the padding between list elements

.list-item-horizontal-left(@padding: 4px) {
	.list-item-no-bullet;
	white-space: nowrap;
	.float-left;
	
	padding-left: @padding;
	padding-right: @padding;
	
	
	&:first-child, &.first { 
		padding-left: 0; 
	}
	
	&:last-child, &.last { 
		padding-right: 0; 
	}
}

.list-item-horizontal-right(@padding: 4px) {
	.list-item-no-bullet;
	white-space: nowrap;
	.float-right;
  
	padding-left: @padding;
	padding-right: @padding;
	
	&:first-child, &.first { 
		padding-right: 0; 
	}
	
	&:last-child, &.last { 
		padding-left: 0; 
	}
}

// A list(ol,ul) that is layed out such that the elements are floated left and won't wrap.
// This is not an inline list.
//
// Setting `@padding` to `false` disables the padding between list elements

.list-horizontal-left(@padding: 4px) {
	.list-container-horizontal;
	li {
		.list-item-horizontal-left(@padding); 
	}
}

.list-horizontal-right(@padding: 4px) {
	.list-container-horizontal;
	li {
		.list-item-horizontal-right(@padding); 
	} 
}
