// CSS3 Mask Module.mask-gradient(@args){	@arg        : `@{args}.trim()`;    -webkit-mask: e(%("-webkit-%s", @arg));    -moz-mask   : e(%("-moz-%s", @arg));    mask        : e(%("%s", @arg));}.mask-image(@args){    -webkit-mask: @args;    -moz-mask   : @args;    mask        : @args;}